*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

#root {
  background-color: #0a0908;
  color: #f8f9fa;
  height: 100vh;
}

.paddle {
  width: 250px;
  height: 18px;
  border-radius: 8px;
  background-color: #f8f9fa;
}
