*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

#root {
  background-color: #0a0908;
  color: #f8f9fa;
  height: 100vh;
  display: grid;
  place-content: center;
}

.game-board {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 80vw;
  height: 80dvh;
  border-radius: 12px;
  padding: 20px;
}

.navbar {
  font-size: 1.35em;
  display: flex;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.paddle {
  width: 250px;
  height: 18px;
  border-radius: 8px;
  background-color: #f8f9fa;
  position: absolute;
  bottom: 50px;
}
